@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light--grey: hsl(217, 12%, 63%);
    --medium--grey:hsl(216, 12%, 54%);
    --dark--blue: hsl(213, 19%, 18%);
    --very--dark--blue: hsl(216, 12%, 8%);   
    --main--bg: hsl(228, 11%, 9%);
    --card--bg:  hsl(215, 26%, 13%);
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--main--bg);
    color: var(--light--grey);
    font-size: 15px;
}

main{
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding: 0 1.5rem;
}
#rating, #thank-you{
    max-width: 500px;
    background-color: var(--card--bg);
    padding: 1.5rem 1rem;
    border-radius: 15px;
}   


@keyframes slideOutUp {
    from {
        transform: translate3d(0, 0, 0);
    }
  
    to {
        visibility: hidden;
        transform: translate3d(0, -200%, 0);
    }
}

.slide-up{
    animation: slideOutUp 2s forwards;
}

@keyframes slideDown {
    from {
      transform: translate3d(0, -200%, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}

.slide-down{
    animation: slideDown 2s forwards;
}

#thank-you {
    display: none;
}

#rating > img{
    padding: 1rem;
    background-color: var(--dark--blue);
    border-radius: 50%;
}

h4{
    color: var(--white);
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 1.75rem
}

#rating > p{
    line-height: 1.5rem;
}

#rating > .selection-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 1.75rem 0;
}
#rating > .selection-wrapper > label {
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: var(--light--grey);
    background-color: var(--dark--blue);
}

#rating > .selection-wrapper > input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#rating > .selection-wrapper > input[type="radio"]:focus  + label {
    border: 1px dashed var(--orange);
}

#rating > .selection-wrapper > input[type="radio"]:checked + label {
    filter: brightness(1.4);
}

#rating > button {
    background-color: var(--orange);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .2rem;
    width: 100%;  
    border: unset;
    border-radius: 25px; 
    padding: 1rem;
}


#thank-you{
    text-align: center;
}

#thank-you > img {
    margin: 1.25rem;
}

#thank-you > #rating-text {
    background-color: var(--dark--blue);
    color: var(--orange);
    padding: .5rem 1rem;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
}

#thank-you > .thank-you-text {
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}

